absl-py==0.14.1
numpy==1.22.3
packaging==21.3
params-flow==0.8.2
promise==2.3
protobuf==3.20.0
psutil==5.9.0
python-dateutil==2.8.2
python-slugify==6.1.2
regex==2022.4.24
requests==2.26.0
six==1.15.0
tensorboard==2.8.0
tensorboard-data-server==0.6.1
tensorboard-plugin-profile==2.8.0
tensorboard-plugin-wit==1.8.0
tensorflow==2.8.0
tensorflow-addons==0.16.1
tensorflow-datasets==4.7.0
tensorflow-estimator==2.6.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.25.0
tensorflow-lattice==2.0.10
tensorflow-metadata==1.7.0
tensorflow-model-optimization==0.7.2
tensorflow-text==2.8.2
